table{
    margin-left: auto;
    margin-right: auto;
    background-color: #fffff0;
}

#subjects{
    background-color: #ffe5b4;
}

#sn{
    background-color: #ffe5b4;
}

#students{
    background-color: #ffe5b4;
}

#total-score{
    background-color: #ffe5b4;
}

.maths{
    background-color: #fbceb1;
}

.eng{
    background-color: #fbceb1;
}

.phy{
    background-color: #fbceb1;
}

.chem{
    background-color: #fbceb1;
}

.bio{
    background-color: #fbceb1;
}

.adekunle{
    text-align: center;
    background-color: #fbceb1;
}

.john{
    text-align: center;
}

.peter{
    text-align: center;
    background-color: #fbceb1;
}

.rukayat{
    text-align: center;
}

.paul{
    text-align: center;
    background-color: #fbceb1;
}

.victor{
    text-align: center;
}

.john2{
    text-align: center;
    background-color: #fbceb1;
}

.doe{
    text-align: center;
}

.stephen{
    text-align: center;
    background-color: #fbceb1;
}